<%= render :partial => "views/base/top" %>
<%= render :partial => "views/header", :locals => {:isLoggedIn => true} %>
<%= render :partial => "views/mainNav" %>
<div class="content">
    <%= render :partial => "views/profile_top" %>
    <%= render :partial => "views/addPost", :locals => {:post__quoted => true, :title => "Записи"} %>
    <%= render :partial => "views/post", :locals => {:post__type => 'post', :my_need => false, :post__quoted => true} %>
    <% (1..5).each do |n| %>
      <%= render :partial => "views/post", :locals => {:post__type => 'post', :my_need => false, :post__quoted => false} %>
    <% end %>
</div>
<%= render :partial => "views/footer" %>
<%= render :partial => "views/base/bottom" %>