<%= render :partial => "views/base/top" %>
<%= render :partial => "views/header", :locals => {:isLoggedIn => true} %>
<%= render :partial => "views/mainNav" %>
<div class="content">
    <aside class="content__sidebar sticky-sidebar">
        <div class="widget">
            <div class="controls-box">
                <h4 class="label">Город:</h4>

                <div class="select">
                    <div class="select__label">Интернет1</div>
                    <select>
                        <option value="1">Интернет1</option>
                        <option value="1">Интернет2</option>
                        <option value="1">Интернет3</option>
                        <option value="1">Интернет4</option>
                        <option value="1">Интернет5</option>
                    </select>
                </div>
            </div>
            <div class="controls-box">
                <h4 class="label">Семейное положение:</h4>

                <div class="select">
                    <div class="select__label">Интернет1</div>
                    <select>
                        <option value="1">Интернет1</option>
                        <option value="1">Интернет2</option>
                        <option value="1">Интернет3</option>
                        <option value="1">Интернет4</option>
                        <option value="1">Интернет5</option>
                    </select>
                </div>
            </div>
            <div class="controls-box">
                <h4 class="label">Пол:</h4>
                <label>
                    <input type="radio" name="gender"/>
                    <span class="input-label">Мужской</span>
                </label>
                <label>
                    <input type="radio" name="gender"/>
                    <span class="input-label">Женский</span>
                </label>
                <label>
                    <input type="radio" name="gender"/>
                    <span class="input-label">Любой</span>
                </label>
            </div>
            <div class="controls-box">
                <h4 class="label">Служение:</h4>

                <div class="select">
                    <div class="select__label">Интернет1</div>
                    <select>
                        <option value="1">Интернет1</option>
                        <option value="1">Интернет2</option>
                        <option value="1">Интернет3</option>
                        <option value="1">Интернет4</option>
                        <option value="1">Интернет5</option>
                    </select>
                </div>
            </div>
            <div class="controls-box">
                <h4 class="label">Возраст:</h4>
                <input type="text" id="ageRange" name="ageRange" value="10;100"/>
            </div>
        </div>
    </aside>
    <section class="center sticky-content">
        <%= render :partial => "views/person", :locals => {:relationship => 'none'} %>
        <%= render :partial => "views/person", :locals => {:relationship => 'friend'} %>
        <%= render :partial => "views/person", :locals => {:relationship => 'family'} %>
        <%= render :partial => "views/person", :locals => {:relationship => 'none'} %>
        <%= render :partial => "views/person", :locals => {:relationship => 'friend'} %>
        <%= render :partial => "views/person", :locals => {:relationship => 'family'} %>
    </section>
</div>
<%= render :partial => "views/footer" %>
<%= render :partial => "views/base/bottom" %>