<%= render :partial => "views/base/top" %>
<%= render :partial => "views/header", :locals => {:isLoggedIn => true} %>
<%= render :partial => "views/mainNav" %>
<div class="content">
    <aside class="content__sidebar sticky-sidebar">
        <%= render :partial => "views/categories", :locals => {:title => 'Категории',
                                                               :cats => %w(Обращение Пробуждение Исцеление Финансовая Семейная)} %>
    </aside>
    <section class="center sticky-content">
        <%= render :partial => "views/addPost", :locals => {:post__quoted => true, :title => 'Нужды'} %>
        <%= render :partial => "views/post", :locals => {:post__type => 'need', :my_need => true, :post__quoted => -1} %>
        <%= render :partial => "views/post", :locals => {:post__type => 'need', :my_need=>false, :post__quoted => -1} %>
        <%= render :partial => "views/post", :locals => {:post__type => 'need', :my_need=>false, :post__quoted => -1} %>
    </section>
</div>
<%= render :partial => "views/footer" %>
<%= render :partial => "views/base/bottom" %>